body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

button {
    width: 130px;
    height: 130px;
}

.project-container {
    position: relative;
}

.mouse-container {
    position: absolute;
}