body {
    margin: 0;
    overflow: hidden;
    background-color: #3d3d3d;
}

.project-container {
    position: relative;
}

.mouse-container {
    position: absolute;
    visibility: hidden;
}

.stepper-buttons {
    width: 90px;
    height: 45px;
}