body {
    margin: 0;
    overflow: hidden;
    background-color: #3d3d3d;
}

.project-container {
    position: relative;
}

.fitline-sketch {
    position: relative;
}

.stepper-buttons {
    width: 90px;
    height: 45px;
    position: absolute;
}
